services:
  rtvd-app:
    build: .
    command: python app.py
    ports:
      - "7860:7860"
    volumes:
      - models:/root/.keras/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all

volumes:
  models:
